/* font family */
@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./fonts/CabinetGrotesk/CabinetGrotesk-Variable.woff2")
      format("woff2"),
    url("./fonts/CabinetGrotesk/CabinetGrotesk-Variable.woff") format("woff"),
    url("./fonts/CabinetGrotesk/CabinetGrotesk-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans Tamil";
  src: url("./fonts/Noto_Sans_Tamil/NotoSansTamil-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-stretch: 62.5% 100%;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans Sinhala";
  src: url("./fonts/Noto_Sans_Sinhala/NotoSansSinhala-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-stretch: 62.5% 100%;
  font-display: swap;
  font-style: normal;
}

.f-cabinet-grotesk {
  font-family: "Cabinet Grotesk", sans-serif;
  letter-spacing: 0.03em;
  font-style: normal;
}

.f-tamil {
  font-family: "Noto Sans Tamil", sans-serif;
  letter-spacing: 0.03em;
  font-style: normal;

  font-size: 17px;
}

.f-sinhala {
  font-family: "Noto Sans Sinhala", sans-serif;
  letter-spacing: 0.03em;
  font-style: normal;

  font-size: 17px;
}

/* font weight */
.bolder {
  font-weight: 800;
}
.bold {
  font-weight: 700;
}
.boldish {
  font-weight: 550;
}
.normal {
  font-weight: 300;
}
.light {
  font-weight: 100;
}

/* font size */
.big {
  font-size: 35px;
}
.medium {
  font-size: 24px;
}
.medium-light {
  font-size: 20px;
}
.medium-text {
  font-size: 18px;
}

.small {
  font-size: 12px;
}

.yellow-background {
  background-color: #f2b02a;
}
.yellow-text {
  color: #f2b02a;
}

p a {
  color: #f2b02a;
  text-decoration: underline;
}

.black-text {
  color: black;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: lightblue; */
}

/* header */

header {
  margin-bottom: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f5f5f5;
}

.title {
  /* display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between; */
  display: flex;
  align-items: center;
  flex-direction: row;
}

.title * {
  /* display: flex;
  justify-content: space-between; */
}
.upper-title {
  margin-right: auto;
}

.subtitle {
  /* display: flex;
  flex-direction: row; */
}

.subtitle span {
  /* margin-right: 10px;
  align-self: flex-end; */
}

.nav {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}
.nav .nav-item {
  padding-left: 20px;
  text-transform: uppercase;
}

.nav a {
  color: #f2b02a;
  text-decoration: none;
}

.nav a.selected {
  color: #545454;
}
.nav a:hover {
  color: #545454;
}

/* content */
main {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-bottom: 100px;
}

main .container {
  max-width: 1000px;
}

.footer-margin {
  margin-top: 100px;
}

/* footer */
footer {
  width: 100%;
  padding-top: 20px;
  margin-top: auto;
  background-color: #f5f5f5;
}

footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer .footer-icons {
  background-image: url(./images/footer_images.svg);
  width: 723px;
  height: 40px;
  display: inline-block;
}
