.map {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Source Sans 3", sans-serif;
  letter-spacing: 0.03em;
}
#map-container {
  width: 500px;
  height: 650px;
  /* background-color: lightblue; */
}
#menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#menu span:hover {
  border: 1px solid black;
}

.map .button-container {
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}

.map .button-container .button {
  border-radius: 20px;
  border: 1px solid #f2b02a;
  width: 180px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.map .button-container .button.unselected {
  background-color: #f2b02a;
  color: black;
  cursor: pointer;
}

.map .button-container .button.selected {
  background-color: white;
  color: #f2b02a;
}

.tooltip {
  position: absolute;
  background-color: white;
  padding: 5px;
}

.tooltip .header {
  font-weight: 700;
  font-size: 32px;
  padding: 30px;
}
.tooltip .sampled {
  font-weight: 500;
  font-size: 26px;
}
.tooltip .table {
  display: flex;
  padding: 30px;
}
.tooltip .table .column {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 15px;
}
.tooltip .table .cell:nth-child(odd) {
  background: #f2f1f3;
}
.tooltip .table .cell:nth-child(even) {
  /* no background color for other rows */
}
.tooltip .table .cell:first-child {
  border-top: 1px solid #dfe2e6;
}

.tooltip .table .cell {
  flex: 1;
  white-space: nowrap;
  padding-right: 15px;
  padding-left: 15px;

  border-bottom: 1px solid #dfe2e6;
}
.tooltip .table .table-header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
}
.num {
  text-align: right;
}
.tooltip .table .num {
  font-weight: 500;
  font-size: 32px;
}
