.section {
  display: flex;
  flex-direction: row;
}

.section:not(:first-child) {
  margin-top: 40px;
}

.section .title {
  width: 400px;
  margin-right: 30px;
  flex-shrink: 0;
}

.section p {
  margin: 0px;
}

/* .content .section .title {
  margin-bottom: 25px;
}

.content .section:not(:first-child) {
  margin-top: 70px;
} */
